<div class="comment-container">
  <div class="comment">
    <div class="user-info">
      <div class="username-image">
        <img src="{{ data.comments[index].user.image.png }}" alt="" />
        <p>{{ data.comments[index].user.username }}</p>
        <div class="you-tag">you</div>
      </div>
      <p class="date-created">{{ data.comments[index].createdAt }}</p>
    </div>
    <p class="content">{{ data.comments[index].content }}</p>
    <div class="vote">
      <button class="add">
        <img src="assets/images/icons/icon-plus.svg" alt="" />
      </button>
      <p>{{ data.comments[index].score }}</p>
      <button class="substract">
        <img src="assets/images/icons/icon-minus.svg" alt="" />
      </button>
    </div>
    <div class="reply">
      <img src="assets/images/icons/icon-reply.svg" alt="" />
      <p>Reply</p>
    </div>
  </div>
</div>
