<div class="comment">
  <div class="user-info">
    <div class="username-image">
      <img src="{{ data.comments[index].user.image.png }}" alt="" />
      <p>{{ data.comments[index].user.username }}</p>
      <div
        class="you-tag"
        *ngIf="data.comments[index].user.username === main_user"
      >
        you
      </div>
    </div>
    <p class="date-created">{{ data.comments[index].createdAt }}</p>
  </div>
  <p class="content">{{ data.comments[index].content }}</p>
  <div class="vote">
    <button class="add" (click)="upvote()" [disabled]="upvoteDisabled">
      <img src="assets/images/icons/icon-plus.svg" alt="" />
    </button>
    <p>{{ data.comments[index].score }}</p>
    <button class="substract" (click)="downvote()" [disabled]="downvoteDisabled">
      <img src="assets/images/icons/icon-minus.svg" alt="" />
    </button>
  </div>
  <div class="reply">
    <img src="assets/images/icons/icon-reply.svg" alt="" />
    <p>Reply</p>
  </div>
</div>
<div class="reply-container">
  <app-comment-replies *ngFor="let reply of data.comments[index].replies; let i=index" [data]="data" [replies_index]="i" [comments_index]="index"/>
</div>