<div class="reply-inner-container">
  <div class="reply">
    <div class="user-info">
      <div class="username-image">
        <img src="{{ reply.user.image.png }}" alt="" />
        <p>{{ reply.user.username }}</p>
        <div
          class="you-tag"
          *ngIf="reply.user.username === currentuser.username"
        >
          you
        </div>
      </div>
      <p class="date-created">
        {{ reply.createdAt }}
      </p>
    </div>
    <p class="content">
      <span>@{{ reply.replyingTo }}</span
      >{{ reply.content }}
    </p>
    <div class="vote">
      <button
        class="add"
        (click)="upvote()"
        [disabled]="
          reply.user.username === currentuser.username || upvoteDisabled
        "
      >
        <img src="assets/images/icons/icon-plus.svg" alt="" />
      </button>
      <p>{{ reply.score }}</p>
      <button
        class="substract"
        (click)="downvote()"
        [disabled]="
          reply.user.username === currentuser.username || downvoteDisabled
        "
      >
        <img src="assets/images/icons/icon-minus.svg" alt="" />
      </button>
    </div>
    <div class="btns">
      <div
        class="delete-btn btn"
        *ngIf="reply.user.username === currentuser.username"
        (click)="deleteComment()"
      >
        <img src="assets/images/icons/icon-delete.svg" alt="" />
        <p>Delete</p>
      </div>
      <div
        class="edit-btn btn"
        *ngIf="reply.user.username === currentuser.username"
      >
        <img src="assets/images/icons/icon-edit.svg" alt="" />
        <p>Edit</p>
      </div>
      <div
        class="reply-btn btn"
        *ngIf="reply.user.username !== currentuser.username"
      >
        <img src="assets/images/icons/icon-reply.svg" alt="" />
        <p>Reply</p>
      </div>
    </div>
  </div>
</div>

<div class="background-div" *ngIf="backgroundAppear">
  <div class="question-div" *ngIf="backgroundAppear">
    <p class="deleteComment">Delete comment</p>
    <p class="dangerZone">
      Are you sure you want to delete this comment? This will remove the comment
      and can't be undone.
    </p>
    <div class="choiceZone">
      <button class="noCancel" (click)="noCancel()">no, cancel</button>
      <button class="yesDelete" (click)="yesDelete()">yes, delete</button>
    </div>
  </div>
</div>
