// primary colors
$moderate-blue: hsl(238, 40%, 52%);
$soft-red: hsl(358, 79%, 66%);
$light-grayish-blue: hsl(239, 57%, 85%);
$pale-red: hsl(357, 100%, 86%);

// neutral colors
$background-color: #f5f6fa;
$light-gray: #eaecf1;
$dark-blue: #324152;
$grayish-blue: #67727e;
$white: #FFF;

// font
$font: 'Rubik', sans-serif;